body {
    background-color: rgb(231, 222, 250);
    display: flex;
    justify-content: center;
}

.registerBox {
    height: 500px;
    width: 500px;
    margin-top: 200px;
    background-color: rgb(207, 194, 235);
    border-radius: 70px 0px 70px 0px;
}

.mailInput, .passwordInput, .phoneInput {
    height: 40px;
    width: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
    border: 2px solid rgb(250, 250, 250);
    border-radius: 50px;
    background-color: rgb(250, 250, 250);
}

.mailDiv, .passDiv, .phoneDiv {
    position: relative;
}

.mailInput:placeholder-shown + .mailLabel, 
.passwordInput:placeholder-shown + .passLabel, 
.phoneInput:placeholder-shown + .phoneLabel {
    visibility: hidden;
}

.mailInput:focus + .mailLabel, .mailInput + .mailLabel,
.passwordInput:focus + .passLabel, .passwordInput + .passLabel,
.phoneInput:focus + .phoneLabel, .phoneInput + .phoneLabel {
    position: absolute;
    left: 117px;
    top: -18px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    visibility: visible;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(71, 71, 71);
}

.mailInput:focus::placeholder, .passwordInput:focus::placeholder, .phoneInput:focus::placeholder {
    visibility:hidden
}

.btn {
    display: flex;
    justify-content: center;
}

.signUpButton {
    height: 30px;
    width: 150px;
    margin-top: 60px;
    border: none;
    border-radius: 70px 0px 70px 0px;
    background-color: rgb(237, 229, 254);
    cursor: pointer;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(71, 71, 71);
}

.signUpButton:hover {
    background-color: rgb(225, 215, 248);
}

.signUpButton:active {
    background-color: rgb(198, 187, 224);
}

.check {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(71, 71, 71);
}

.mailWarning, .passWarning, .phoneWarning {
    color: red;
    text-align: center;
    visibility: hidden;
}

.titleContainer {
    display: flex;
}

.registerTitle {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(71, 71, 71);
    text-align: center;
    margin-top: 50px;
}

.logo {
    background-color: rgb(140, 121, 182);
    color: rgb(250, 250, 250);
    border-radius: 70px 0px 70px 0px;
    height: 50px;
    width: 150px;
    margin-top: 50px;
    text-align: center;
    line-height: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
}